.hide{
    display: none;
}
.data-q-group{
    height: 50px;
}
header{
        text-align: center;
        width: 100%;
        position: fixed;
        font-size: 24px;
        text-align: center;
        margin-bottom: 25px;
        background-color: rgba(255, 255, 255,.8);
        top: 0;
        padding: 2% 10px;
}
header:after {
    content: "";
    display: table;
    clear: both;
  }
  .selected {
      background: black;
  }
  .btn-primary:hover {
      background-color: black !important;
      margin: 20px, 20px, 20px, 20px !important;
      
  }
body{
    text-align: center;
    min-height:100vh;
    background: url(../images/backgrounf.jpg) fixed;
    background-size: cover;
}
#game-container {
    margin-top: 15%;
    background-color: darkgray;
    width: 75%;
    margin: 15% auto 10%;
    padding: 5% 10px;
}
#gamecontent{
    background-color: lightgray;
    background-size: cover;
    height: 90%;
    border: solid;
    border: 15px;
    margin-bottom: 25px;
}
footer{
    background-image: url(../images/backgrounf.jpg);
    background-size: cover;
    height: 50px;
    text-align: center;
    font: 16px
       
      
}

/* @media screen and (max-width: 980px){
  
    }
            
    
       
     
    
  
  
    @media screen and (max-width: 768px){
       
      
    }
          
   
  
  
  @media screen and (max-width: 640px){
      } */